.App{
  height: 89.8vh;
  width: 100vw;
  display:flex;
  flex-direction: row;
  align-items: stretch;
  margin-top: 80px;

}
.header{
  position: absolute;
  top: 0;
  width : 100vw;
  height: 80px;
  background-color: #ECECEC;
  box-shadow: 0px 3px 5px #888888;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}

.header button{
  background-color: rgba(0,0,0,0);
  border: 2px solid black;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: auto;
  margin-bottom: auto;
  padding: 0 15px;
  cursor: pointer;
  width: 160px;
  height: 40px;
  margin: 25px;
}

.header button:hover {
  background-color: rgba(0,0,0,0.1);
}

.header button img {
  height: 20px;
}

.logo{
  height: 60%;
  width: auto;
  margin-left: 20px;
}

.column{
  flex:1;
  height: 100%;
  background-color: #FFFFFF;
  opacity: 1;
  transition: opacity 0.2s ease;
  box-shadow: 3px 0px 5px #888888;
  z-index: 14;
  overflow: auto;
}

.column button {
  background-color: rgba(0,0,0,0);
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  cursor: pointer;
  width: 150px;
  height: 40px;
}

.column button:hover {
  background-color: rgba(0,0,0,0.1);
}

.column button img {
  height: 20px;
  margin-right: 7px;
}

.empty-column{
  flex:1;
  height: 100%;
  opacity: 0;
  background-color: #FFFFFF;
  transition: opacity 0.2s ease;
}

.line {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  padding-left: 10px;
}

.line:hover {
  background-color: #c4f1ff;
}

.checkbox {
  background-color: rgba(0,0,0,0);
  border: 3px solid black;
  height: 15px;
  min-height: 15px;
  width: 15px;
  min-width: 15px;
}

.checkbox:hover {
  border-color: #4778d9;
}

.icon {
  width: 50px;
  height: auto;
  margin: 0 20px;
}

.picto {
  width : 150px;
  height: auto;
}

.column, .column2, .column3, .column4 {
  height:;
} 

.column2{
  background-color: #FFFFFF;
  z-index: 13;
}

.column3{
  background-color: #FFFFFF;
  z-index: 12;
}

.column4 {
  z-index: 11;
}

.filezoom{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}